Flask==2.3.3
Flask-Cors==4.0.0
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.30
pymysql==1.1.0
torch==2.2.2
torchvision==0.17.2
efficientnet-pytorch==0.7.1
Pillow==10.3.0
requests==2.31.0
python-docx==1.1.0
openai==1.23.2
ultralytics==8.1.33

